In [25]:
import sys
sys.path.append('/Users/brandon/Documents/Repositories/Python/')
from FANC_auto_recon.annotations import schema_download
from FANC_auto_recon import neuroglancer_utilities
import pandas as pd
import numpy as np

In [5]:
client,token = neuroglancer_utilities.get_client()

In [6]:
tables = client.annotation.get_tables()

In [8]:
client.annotation.get_table_metadata(tables[1])

{'deleted': '2021-01-15T08:15:17.964183',
 'valid': True,
 'schema_type': 'synapse',
 'reference_table': None,
 'user_id': 'bmark89@uw.edu',
 'created': '2021-01-14T22:56:39.200281',
 'table_name': 'test_synapse_table_2',
 'id': 3,
 'flat_segmentation_source': None,
 'description': 'one more test'}

In [9]:
tables

['test_synapse_table',
 'test_synapse_table_2',
 'test_T1MN_soma_table',
 'T1MN_somas',
 '10B_somas',
 'claw_neurons',
 '81A07_Synapses',
 'test_table',
 'club_synapses',
 'claw_neuron_synapses',
 'test',
 'synapses',
 'MB_synapses',
 'Ltm synapse',
 'Mollie_synapses',
 'claw_neuron_synapses_2',
 'Hemilineages',
 '20210225 Mollie_synapses',
 'claw_neuron_synapses_3',
 'Ltm synapse-2-3',
 'tiny Ltm synapse-4-1',
 'contr-ltm-midbranch-4-1',
 'cellbody-ltm-midbranch-4-2',
 'AIZ-ltm-midbranch-4-5',
 'cellbody-ltm-midbranch-4-5',
 'tiny-ltm-4-5',
 'contra-contraltm-4-5']

In [15]:
t = schema_download.download_annotation_table(client,'Hemilineages')
t.columns

Index(['deleted', 'valid', 'schema_type', 'reference_table', 'user_id',
       'created', 'table_name', 'id', 'flat_segmentation_source',
       'description', 'tag', 'pt_position', 'superceded_id'],
      dtype='object')

'test_synapse_table_2'

In [19]:
annotations = pd.DataFrame(columns=['deleted', 'valid', 'schema_type', 'reference_table', 'user_id',
       'created', 'table_name', 'id', 'flat_segmentation_source',
       'description', 'tag', 'pt_position', 'superceded_id'])
for i in tables:
    meta = client.annotation.get_table_metadata(i)
    if meta['schema_type'] == 'bound_tag':
        try:
            annotations = annotations.append(schema_download.download_annotation_table(client,i))
        except:
            print(i +' Failed')

10B_somas Failed
claw_neurons Failed
test Failed

In [20]:
annotations

,deleted,valid,schema_type,reference_table,user_id,created,table_name,id,flat_segmentation_source,description,tag,pt_position,superceded_id
0,None,True,NaN,NaN,NaN,2021-01-15 00:03:33.264701,NaN,1,NaN,NaN,MN_A101_T1L,"[13329, 114635, 1861]",None
1,None,True,NaN,NaN,NaN,2021-01-15 00:03:33.582501,NaN,2,NaN,NaN,MN_A101_T1R,"[63394, 114393, 2304]",None
2,None,True,NaN,NaN,NaN,2021-01-15 00:03:33.720227,NaN,3,NaN,NaN,MN_A102_T1L,"[11729, 116735, 1478]",None
3,None,True,NaN,NaN,NaN,2021-01-15 00:03:33.850803,NaN,4,NaN,NaN,MN_A102_T1R,"[63084, 116459, 2863]",None
4,None,True,NaN,NaN,NaN,2021-01-15 00:03:33.981768,NaN,5,NaN,NaN,MN_A103_T1R,"[59659, 115855, 2065]",None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,None,True,NaN,NaN,NaN,2021-02-22 17:23:33.908949,NaN,79,NaN,NaN,13B,"[42734, 92478, 3446]",None
79,None,True,NaN,NaN,NaN,2021-02-22 17:30:58.251867,NaN,80,NaN,NaN,1A,"[62512, 122363, 1699]",None
80,None,True,NaN,NaN,NaN,2021-02-22 17:30:59.125967,NaN,81,NaN,NaN,1A,"[63893, 121219, 1699]",None
81,None,True,NaN,NaN,NaN,2021-02-22 17:30:59.273423,NaN,82,NaN,NaN,1A,"[65036, 119593, 1699]",None
82,None,True,NaN,NaN,NaN,2021-02-22 17:30:59.400454,NaN,83,NaN,NaN,1A,"[62250, 120593, 1749]",None

In [21]:
schema_download.download_annotation_table(client,'10B_somas')

ValueError: number sections must be larger than 0.

In [22]:
table_name = '10B_somas'
table_size = client.annotation.get_annotation_count(table_name)+1

In [23]:
table_size

32

In [31]:
bins = np.array_split(np.arange(1,table_size),np.ceil(table_size/100))

In [32]:
bins

[array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
        18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31])]

In [30]:
np.ceil(table_size/100)

1.0